/*------------------------PAGINA CLASES---------------------------------*/

/* TAMAÑOS DEL VIDEO */

#videoBaile{
    position: relative;
    left: 18%;
    width:700px;
    height:400px;  
}

@media screen and (max-width: 400px) {
    #videoBaile{
        position: relative;
        left: 10%;
        width:300px;
        height:200px;  
    }
    }
    
    @media screen and (min-width: 401px) and (max-width: 650px) {
        #videoBaile{
            position: relative;
            left: 10%;
            width:400px;
            height:300px;  
        }
        } 
        @media screen and (min-width: 651px) and (max-width: 850px) {
            #videoBaile{
                position: relative;
                left: 5%;
                width:600px;
                height:405px;  
            }
            } 

            @media screen and (min-width: 851px) and (max-width: 1000px) {
                #videoBaile{
                    position: relative;
                    left: 15%;
                    width:600px;
                    height:425px;  
                }
                } 