/* ----------------------FORMULARIO DE CONTACTO------------------- */

.contenedor #formulariogoogle{
	position: relative;
	width: 100%;
	height: 1000px;
	
}

@media screen and (max-width: 576px) {
	.contenedor #formulariogoogle{
		left:10%;
	}
}