


/*-------------------------------------------------PRECIOS------------------------------------------*/

.contenedor p b{
    position: relative;
    font-size: 30px;
    color: purple;
    width: 100%;
    left: 25%;
}

@media screen and (max-width: 780px) { 
.contenedor #PreciosHorario{
    position: relative;
	font-family:BigShouldersDisplay;
    font-size: 50px;
    left:5%;
}
}

@media screen and (max-width: 760px) { 
    .contenedor p b{
        position: relative;
        font-size: 20px;
        color: purple;
        width: 100%;
        left: 20%;
    }
    }

    @media screen and (max-width: 1200px) { 
        .contenedor p b{
            position: relative;
            font-size: 25px;
            color: purple;
            width: 100%;
            left: 5%;
        }
        }

#pricing-table {
	position: relative;
    margin: 100px auto;
    text-align: center;
    width: 892px; /* total computed width = 222 x 3 + 226 */
    right: 5%;
    left: 10%;
}
@media screen and (min-width:700px) and (max-width: 840px) { 
    #pricing-table {
        position: relative;
        margin: 100px auto;
        text-align: center;
        width: 100%; /* total computed width = 222 x 3 + 226 */
        right: 0;
        left: 1%;
       
    }
}

#pricing-table .plan {
    font: 12px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
    text-shadow: 0 1px rgba(255,255,255,.8);        
    background: orange;      
    border: 1px solid #ddd;
    color: #333;
    padding: 20px;
    width: 180px; /* plan width = 180 + 20 + 20 + 1 + 1 = 222px */      
    float: left;
    position: relative;
}

@media screen and (max-width: 767px) { 
    #pricing-table .plan {  
        position: relative;
        float:none;
        width: 200px;
        left:5%;
        
    }
}



#pricing-table #most-popular {
    z-index: 2;
    top: -13px;
    border-width: 3px;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);    
}

#pricing-table .plan:nth-child(1) {
    border-radius: 5px 0 0 5px;        
}

#pricing-table .plan:nth-child(4) {
    border-radius: 0 5px 5px 0;        
}

/* --------------- */   

#pricing-table h3 {
    font-size: 20px;
    font-weight: normal;
    padding: 20px;
    margin: -20px -20px 50px -20px;
    background-color: #eee;
    background-image: linear-gradient(#fff, #eee);
}

#pricing-table #most-popular h3 {
    background-color: #ddd;
    background-image: linear-gradient(#eee, #ddd);
    margin-top: -30px;
    padding-top: 30px;
    border-radius: 5px 5px 0 0;         
}

#pricing-table .plan:nth-child(1) h3 {
    border-radius: 5px 0 0 0;       
}

#pricing-table .plan:nth-child(4) h3 {
    border-radius: 0 5px 0 0;       
}   

#pricing-table h3 span {
    display: block;
    font: bold 25px/100px Georgia, Serif;
    color: #777;
    background: #fff;
    border: 5px solid #fff;
    height: 100px;
    width: 140px;
    margin: 10px auto -65px;
    border-radius: 100px;
    box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
}

/* --------------- */

#pricing-table ul {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
}

#pricing-table li {
    border-top: 1px solid #ddd;
    padding: 10px 0;
}

/* --------------- */
    
#pricing-table .signup {
    position: relative;
    padding: 8px 20px;
    margin: 20px 0 0 0;  
    color: #fff;
    font: bold 14px Arial, Helvetica;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;       
    background-color: #72ce3f;
    background-image: linear-gradient(#72ce3f, #62bc30);
    border-radius: 3px;     
    text-shadow: 0 1px 0 rgba(0,0,0,.3);        
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
}

#pricing-table .signup:hover {
    background-color: #62bc30;
    background-image: linear-gradient(#62bc30, #72ce3f); 
}

#pricing-table .signup:active, #pricing-table .signup:focus {
    background: #62bc30;       
    top: 2px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset; 
}

/* --------------- */

.clear:before, .clear:after {
  content:"";
  display:table
}

.clear:after {
  clear:both
}

.clear {
  zoom:1
}    



/* ---------------------------------------HORARIO--------------------------------------*/

.tablaVideos td #videoHorario{
    border:5px solid black;
    position:relative;
    width:100%;
}



@media screen and (max-width: 400px) { 
    .tablaVideos td #videoHorario{

    position:relative;
    width:150px;
    height: 150px;
}


}

@media screen and (min-width:400px) and (max-width: 550px) { 
    .tablaVideos td #videoHorario{
        left: 50px;
    position:relative;
    width:100%;
}


}

@media screen and (min-width:550px) and (max-width: 950px) { 
    .tablaVideos td #videoHorario{

    position:relative;
    width:250px;
    height: 250px;
}


}
@media screen and (min-width:951px) and (max-width: 1200px) { 
    .tablaVideos td #videoHorario{
  
    position:relative;
    right: 20px;
    width:450px;
    height: 450px;
}


}




