

.contenedorRegistro{
	top:10px;
	left: 70px;
	position: relative;
	width: 100%;
}

.contenedorRegistro #tituloRegistro{
	position: relative;
	font-family:BigShouldersDisplay;
	font-size: 80px;
	left: 35%;
}

.contenedorRegistro #titulo2{
	position: relative;
	font-family:BigShouldersDisplay;
	font-size: 30px;
	left: 35%;
}


.contenedorRegistro #tituloBienvenida{
	position: relative;
	font-family:BigShouldersDisplay;
	font-size: 65px;
	left: 25%;
}
.formulario{
	position: relative;
	left: 15%;
	width: 50%;
	border: 3px solid black;
	text-align: left;
	padding: 30px;
}

span{
		font-family:Orbitron-Regular;
		font-size: 20px;

}

#boton{
	position: relative;
	text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: black;
    background-color: #ff4900;
    border-radius: 6px;
    border: 2px solid #7d0085;
    left: 25%;
}
#botonVolver{
	position: relative;
	text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: black;
    background-color: #ff4900;
    border-radius: 6px;
    border: 2px solid #7d0085;
    left: 25%;
}

input{
	border: 2px solid #7d0085;
}