


/*-------------------------------------------STAFF------------------------------------------*/
	
.work {
  float:left;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 500px;
  width: 25%; 
  left: 5%;
  display: table;
  overflow: hidden;
  margin-bottom: 30px;
  margin-right: 80px;
  margin-left: 80px;
  text-decoration:none;

}
@media screen  and (max-width: 400px) {
  .work {
    height: 400px;

    width: 95%;
    right: 50%; 
 
    margin-left: 50px;
    }
    


}
@media screen and (min-width:401px) and (max-width: 580px) {
  .work {
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    float:left;
    left: 20%;

    height: 400px;
    width: 90%; 
    text-decoration:none;
  }


}

@media screen and (min-width:581px) and (max-width: 1000px) {
  .work {
    margin-bottom: 10px;
    margin-right: 40px;
    margin-left: 40px;
    float:left;
    height: 200px;
    width: 30%; 
    text-decoration:none;
  }


}
.work .desc {
  display: table-cell;
  vertical-align: middle;
  height: 270px;
  background: #fff;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  
}
.work .desc h3 { /*TITULO DE CADA CONTENEDOR */
  font-size: 22px;
  color:black;
}

.work .desc p { /*Parrafo de cada contenedor */
  position: relative;
  left:1%;
  font-size: 12px;
  color:black;
  
}
@media screen and (max-width: 900px) {

.work .desc p {
  font-size: none;
  color:none;
  display:none;
}
}

/*-------NOMBRES STAFF------------*/

@media screen and (max-width: 500px) {
  .work .desc #ken{
    position: relative;
    top:-150px;
    left: 20%;
    color:rgb(137, 6, 155);  }

  .work .desc #ales{
    position: relative;
    top:-184px;
    left: 30%;
    color:rgb(137, 6, 155); 
  }

  .work .desc #dani{

    color:rgb(137, 6, 155);  }
  
  .work .desc #juls{
    position: relative;
    top:-170px;
    left: 25%;
    color:rgb(137, 6, 155);  
  }

  .work .desc #marta{
    position: relative;
    top:-155px;
    left: 10%;
    color:rgb(137, 6, 155); 
   }
  .work .desc #david{
    position: relative;
    top:150px;
    left: 25%;
    color:rgb(137, 6, 155);
  }

  .work .desc #ruth{
    position: relative;
    top:-170px;
    left: 25%;
    color:rgb(137, 6, 155);
  }
  .work .desc #aita{
    position: relative;
    top:-140px;
    left: 5%;
    color:rgb(137, 6, 155);
  }
  .work .desc #emika{
    position: relative;
    top:-150px;
    left: 2%;
    color:rgb(137, 6, 155);  }
}


/* RESPONSIVE */
@media screen and (min-width:500px) and (max-width: 580px) {
  .work .desc #ken{
    position: relative;
    top:-150px;
    left: 20%;
    color:rgb(137, 6, 155);  }

  .work .desc #ales{
    position: relative;
    top:-184px;
    left: 30%;
    color:rgb(137, 6, 155); 
  }

  .work .desc #dani{

    color:rgb(137, 6, 155);  }
  
  .work .desc #juls{
    position: relative;
    top:-170px;
    left: 25%;
    color:rgb(137, 6, 155);  
  }

  .work .desc #marta{
    position: relative;
    top:-155px;
    left: 10%;
    color:rgb(137, 6, 155); 
   }
  .work .desc #david{
    position: relative;
    top:150px;
    left: 25%;
    color:rgb(137, 6, 155);
  }

  .work .desc #ruth{
    position: relative;
    top:-170px;
    left: 25%;
    color:rgb(137, 6, 155);
  }
  .work .desc #aita{
    position: relative;
    top:-140px;
    left: 5%;
    color:rgb(137, 6, 155);
  }
  .work .desc #emika{
    position: relative;
    top:-150px;
    left: 2%;
    color:rgb(137, 6, 155);  }
}

@media screen and (max-width: 900px) {
  .work .desc {
    opacity: 1;
    background: transparent !important;
  }
 
  .work .desc span {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.work:hover .desc {
  opacity: 1;
}
.work:hover .desc h3 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.work:hover .desc span {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}



.js .animate-box {
  opacity: 0;
}
	#fh5co-about,
#fh5co-services,
#fh5co-contact,
#fh5co-work,
#fh5co-blog,
#fh5co-counter,
#fh5co-footer {
  padding: 6em 3em;
  clear: both;
}

@media screen and (max-width: 768px) {
  #fh5co-about,
  #fh5co-services,
  #fh5co-contact,
  #fh5co-work,
  #fh5co-blog,
  #fh5co-counter,
  #fh5co-footer {
    padding: 3em 1em;
  }
}

.row-pb-md {
  padding-bottom: 4em !important;
}

.row-pb-sm {
  padding-bottom: 2em !important;
}



